In [2]:
s = set()

In [3]:
s.add(1)

In [4]:
s.add(2)

In [5]:
s

{1, 2}

In [6]:
s.clear()

In [7]:
s

set()

In [32]:
s = {1,2,3}

In [9]:
sc= s.copy()

In [10]:
sc

{1, 2, 3}

In [15]:
s.add(4)
s

{1, 2, 3, 4}

In [18]:
# difference of two or more sets as a new set
s.difference(sc)

{4}

In [25]:
s1 = {1,2,3}
s2 = {1,4,5}

In [29]:
# Remove all elements of another set from this set
s1.difference_update(s2)
s1

{2, 3}

In [35]:
s.add(4)
s

{1, 2, 3, 4}

In [38]:
s.discard(2)
s

{1, 3, 4}

In [41]:
s1 = {1,2,3}
s2 = {1,2,4}

In [42]:
s1.intersection(s2)

{1, 2}

In [43]:
s1.intersection_update(s2)
s1

{1, 2}

In [47]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [45]:
s1.isdisjoint(s2)

False

In [46]:
s1.isdisjoint(s3)

True

In [48]:
s1.issubset(s2)

True

In [49]:
s2.issuperset(s1)

True

In [50]:
s1 = {1,2}
s2 = {1,2,4}

In [51]:
s1.symmetric_difference(s2)

{4}

In [55]:
s1.symmetric_difference_update(s2)
s1

{1, 2}

In [58]:
# Return the union of sets as a new set.
s1.union(s2)

{1, 2, 4}

In [61]:
#Update a set with the union of itself and others.
s1.update(s2)

In [62]:
x = 3
x = x*x

In [63]:
print(x+2)

11

In [65]:
security = 'Tom Hanks'
security = 'Tom Cruise'

print(security)

Tom Cruise